a:link,
a:visited,
a:active {
    border-bottom: 1px solid rgba(0, 0, 0, 0.5);
    color: rgba(0, 0, 0, 0.8);
    text-decoration: none;
}

a:hover {
    color: black;
    border-bottom: 1px solid rgba(0, 0, 0, 0.25);
}

body {
    margin: 0;
    padding: 0;
    font-family: -apple-system, Helvetica, arial, sans-serif;
    color: rgba(0, 0, 0, 0.8);
    line-height: 1.5em;
    font-size: 15px;
}

.mono {
    font-family: monospace;
}

.clear {
    clear: both;
}

.hidden {
    display: none;
}

a.btn,
.btn {
    padding: 4px 8px;
    background-color: rgba(0, 0, 0, 0.1);
    border: none !important;
    font-size: 13px;
}

.btn:hover {
    background-color: rgba(0, 0, 0, 0.2);
    cursor: pointer;
}

.content {
    margin: 0 auto;
    width: 700px;
}

.content.markdown-body {
    margin-bottom: 100px;
}

.controls a {
    margin-right: 10px;
}

.nav-wrapper,
.title-wrapper {
    border-bottom: 1px solid rgba(0, 0, 0, 0.5);
}

.nav {
    margin: 10px auto;
}

.nav a {
    margin-right: 20px;
}

.title-wrapper {
    padding-bottom: 20px;
    margin-bottom: 40px;
}

.title p {
    margin: 0;
}

table {
    border-collapse: collapse;
}

#index-page table {
    margin-bottom: 100px;
}

#index-page table tr td.date {
    width: 90px;
}

#index-page table tr td {
    padding-right: 30px;
}

#note-page table tr td {
    padding-right: 10px;
}

#note-page table {
    margin-top: 15px;
}

#note-page h1 {
    margin-top: 40px;
    line-height: 1em;
}

a.label:link,
a.label:visited,
a.label:active {
    background-color: #005f83;
    color: white;
    border-bottom: none;
    font-size: 13px;
    padding: 2px 5px;
}

a.label:hover {
    opacity: 0.7;
    border-bottom: none;
}

#index-page .title-wrapper h1 {
    margin-bottom: 20px;
}

#index-page #search_form {
    display: inline;
}

#index-page #search_form #search_text {
    height: 17px;
    position: relative;
    top: -1px;
}

#edit-page .btn {
    float: left;
    margin: 20px 20px 20px 0;
}

#edit-page #edit-submit-btn {
    background-color: #005f83;
    color: white;
}

#edit-page #edit-submit-btn:hover {
    opacity: 0.8;
}

#edit-page #edit-field,
#edit-page #edit-preview {
    width: 49%;
}

#edit-page #edit-field {
    border: 1px solid rgba(0, 0, 0, 0.8);
    height: 598px;
}

#edit-page #edit-preview {
    border: 1px solid rgba(0, 0, 0, 0.8);
    float: right;
    margin-top: 65px;
    margin-bottom: 50px;
    height: 600px;
    overflow-y: scroll;
}

#edit-page .nav,
#edit-page .content-wrapper {
    margin: 10px 50px;
}

#edit-page .content-wrapper .content {
    width: 100%;
}

#create-page #create-field {
    height: 300px;
    margin: 20px 0 30px 0;
    width: 100%;
}

#edit-page #uploaded-image-tag {
    background-color: #B95E04;
    color: white;
    padding: 2px 10px;
    margin-top: 20px;
}

.flashes {
    padding: 10px;
    list-style: none;
    background-color: #B95E04;
    color: white;
}

.flashes p {
    margin: 0 auto;
    width: 706px;
}

figure {
    text-align: center;
    border-top: 1px solid rgba(0, 0, 0, 0.3);
    border-bottom: 1px solid rgba(0, 0, 0, 0.3);
    margin: 25px 0;
    padding: 20px 0;
}

figure figcaption {
    font-size: 13px;
    text-align: left;
}