body {
    margin: 0;
    padding: 0;
    font-family: -apple-system, Helvetica, arial, sans-serif;
    color: rgba(0, 0, 0, 0.8);
    line-height: 1.5em;
    font-size: 16px;
}

.mono {
    font-family: monospace;
}

.clear {
    clear: both;
}

.hidden {
    display: none;
}

a.btn,
.btn {
    padding: 4px 8px;
    background-color: rgba(0, 0, 0, 0.1);
    border: none !important;
    font-size: 13px;
    font-weight: bold;
    color: rgba(0, 0, 0, 0.6) !important;
}

.btn:hover {
    background-color: rgba(0, 0, 0, 0.2);
    cursor: pointer;
}

.content {
    margin: 0 auto;
    width: 700px;
}

.content.markdown-body {
    margin-bottom: 100px;
}

.controls a {
    margin-right: 10px;
}

.nav-wrapper,
.title-wrapper {
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.nav {
    padding: 10px;
}

.nav a {
    margin-right: 20px;
}

.title-wrapper {
    background-color: #f7f8fa;
    padding: 30px;
    margin-bottom: 40px;
}

.title-wrapper h1 {
    margin-top: 0;
    color: rgba(0, 0, 0, 0.6);
}

.title p {
    margin: 0;
}

table {
    border-collapse: collapse;
}

#index-page a:link,
#index-page a:visited,
#index-page a:active,
.nav-wrapper a:link,
.nav-wrapper a:visited,
.nav-wrapper a:active {
    color: rgb(9, 105, 218);
    text-decoration: none;
}

#index-page a:hover,
.nav-wrapper a:hover {
    color: rgb(9, 105, 218);
    font-weight: bold;
    text-decoration: none;
}
a.label:link,
a.label:visited,
a.label:active {
    color: rgba(0, 0, 0, 0.6) !important;
    font-weight: bold;
    font-size: 13px;
    padding: 2px 5px;
    text-decoration: none;
}

a.label:hover {
    color: rgba(0, 0, 0, 0.5) !important;
    border-bottom: none !important;
    text-decoration: none !important;
}

#index-page table {
    margin-bottom: 100px;
}

#index-page table tr td {
    border-bottom: 1px solid #eee;
    padding-right: 30px;
}

#index-page table tr td.date {
    color: gray;
    font-size: 12px;
    width: 100px;
    vertical-align: bottom;
    padding-bottom: 0;
}

#index-page table tr td.title {
    width: 300px;
}

#note-page .title-wrapper table tr td {
    padding-right: 10px;
}

#note-page .title-wrapper table {
    margin-top: 15px;
    width: 100%;
}

#note-page .title-wrapper table tr td {
    border-top: 1px solid #ddd;
    padding-right: 10px;
    font-size: 13px;
}

#note-page .title-wrapper table tr td.metadata-key {
    width: 20%;
}

#index-page #search_form {
    display: inline;
}

#index-page #search_form #search_text {
    border: 1px solid rgba(0, 0, 0, 0.1);
    height: 20px;
    position: relative;
    top: 0;
}

#edit-page .content-wrapper .btn {
    float: left;
    margin: 20px 20px 20px 0;
}

#edit-page .nav {
    padding: 0;
}

#create-page #edit-submit-btn,
#edit-page #edit-submit-btn {
    background-color: rgb(9, 105, 218);
    color: white !important;
}

#edit-page #edit-submit-btn:hover {
    opacity: 0.8;
}

#edit-page #edit-field,
#edit-page #edit-preview {
    width: 49%;
}

#edit-page #edit-field {
    border: 1px solid rgba(0, 0, 0, 0.2);
    height: 598px;
}

#edit-page #edit-preview {
    border: 1px solid rgba(0, 0, 0, 0.2);
    float: right;
    margin-top: 65px;
    margin-bottom: 50px;
    height: 604px;
    overflow-y: scroll;
}

#edit-page .nav,
#edit-page .content-wrapper {
    margin: 10px 50px;
}

#edit-page .content-wrapper .content {
    width: 100%;
}

#create-page #create-field {
    border: 1px solid rgba(0, 0, 0, 0.2);
    height: 300px;
    margin: 20px 0 30px 0;
    width: 100%;
}

#edit-page #uploaded-image-tag {
    background-color: #B95E04;
    color: white;
    padding: 2px 10px;
    margin-top: 20px;
}

#flashes-banner {
    background-color: #FA200A;
    height: 30px;
    padding: 7px 0 5px 0;
}

#flashes-banner p.flash {
    color: white;
    display: inline-block;
    margin: 0;
    vertical-align: middle;
}

figure {
    text-align: center;
    border-top: 1px solid rgba(0, 0, 0, 0.3);
    border-bottom: 1px solid rgba(0, 0, 0, 0.3);
    margin: 25px 0;
    padding: 20px 0;
}

img {
    display: block;
    margin: 0 auto;
}

figure figcaption {
    font-size: 13px;
    text-align: left;
}

/* Markdown overwrites.
 */
.markdown-body a:link,
.markdown-body a:visited,
.markdown-body a:active {
    color: rgb(9, 105, 218);
    text-decoration: none;
}

.markdown-body a:hover {
    color: rgb(9, 105, 218);
    text-decoration: underline;
}
