<!DOCTYPE html>
<html lang='en'>
<head>
    <meta charset='UTF-8'>
    <link href='{{ url_for("static", filename="anno.css") }}' rel='stylesheet'/>
    {% if title != 'Anno' %}
        <title>Anno - {{ title }}</title>
    {% else %}
        <title>{{ title }}</title>
    {% endif %}
</head>
<body id='index-page'>
    <div class='title-wrapper'>
        <div class='content'>
            {% if include_nav %}
                <div class='nav'>
                    <a href='/'>Home</a>
                </div>
            {% endif %}
            <h1>{{ title }}</h1>
            <div class='controls'>
                <a href='/new' class='btn'>Create note</a>
            </div>
        </div>
    </div>
    <div class='content'>
        {% if notes %}
            <table>
            {% for item in notes %}
                <tr>
                    <td class='date'>{{ item.date | date_to_string }}</td>
                    <td class='title'>
                        <a href='/{{ item.url }}'>{{ item.title }}</a>
                    </td>
                    {% if item.labels %}
                        <td class='labels'>
                            {% for label in item.labels %}
                                <a class='label' href='/label/{{ label }}'>{{ label }}</a>
                            {% endfor %}
                        </td>
                    {% else %}
                        <td></td>
                    {% endif %}
                </tr>
            {% endfor %}
            </table>
        {% else %}
            <p>No notes <span class='mono'>{{ cwd }}</span>.</p>
        {% endif %}
    </div>
</body>
</html>